{
  port: 8080,
  bossThreads: 1,
  workerThreads: 20

  handlers:
    [
      {
        name: "AccessControlHandler",
        className: "dustinl.proxy.handler.AccessControlHandler"
        config: {
          acls : ["10.82.16.209"]
        }
      },
      {
        name: "HttpServerCodec",
        className: "io.netty.handler.codec.http.HttpServerCodec"
      },
      {
        name: "HttpContentCompressor",
        className: "io.netty.handler.codec.http.HttpContentCompressor"
      },
      {
        name: "testHandler",
        className: "dustinl.proxy.handler.TestHandler",
        config: {appId: "yahoo.nevec.hgp-product_egs.env-alph"}
      },
      {
        name: "HttpProxyExecHandler",
        className: "dustinl.proxy.handler.HttpProxyExecHandler"
      },
      {
        name: "HttpProxyWriterHandler",
        className: "dustinl.proxy.handler.HttpProxyWriterHandler"
      }
    ]
}
