{
  port: 8080,
  bossThreads: 1,
  workerThreads: 20

  handlers:
    [
      {
        name: "AccessControlHandler",
        className: "dustinl.proxy.handler.AccessControlHandler"
        config: {
          acls : ["127.0.0.1"]
        }
      },
      {
        name: "HttpServerCodec",
        className: "io.netty.handler.codec.http.HttpServerCodec"
      },
      {
        name: "AccessLogHandler",
        className: "dustinl.proxy.handler.AccessLogHandler"
      },
      {
        name: "HttpContentCompressor",
        className: "io.netty.handler.codec.http.HttpContentCompressor"
      },
      {
        name: "testHandler",
        className: "dustinl.proxy.handler.TestHandler",
        config: {appId: "alpha"}
      },
      {
        name: "HttpExecutionHandler",
        className: "dustinl.proxy.handler.HttpExecutionHandler"
      },
      {
        name: "HttpResponseWriterHandler",
        className: "dustinl.proxy.handler.HttpResponseWriterHandler"
      }
    ]
}
