{
  port: 8080,
  bossThreads: 1,
  workerThreads: 20

  plugins :
    [
      { name: "HttpServerCodec", className: "io.netty.handler.codec.http.HttpServerCodec" },
      { name: "HttpContentCompressor", className: "io.netty.handler.codec.http.HttpContentCompressor" },
      { name: "HttpProxyExecHandler", className: "dustinl.proxy.handler.HttpProxyExecHandler" },
      { name: "HttpProxyWriterHandler", className: "dustinl.proxy.handler.HttpProxyWriterHandler" }
    ]
}
